<h2 style="text-align: center;">PRIVACY POLICY MODEL FOR MOBILE APPLICATIONS</h2> 

<p>This privacy policy governs your use of the software application Hello Expo (“Application”) for mobile devices that was created by&nbsp;Jacob Whitt.&nbsp;The Application is&nbsp;A simple teaching tool and demo of various features and capabilities of React Native. It can show push-notifications, access the camera roll and display a photo, create calendar appointments. It does not transmit any data to the internet or other users at any point, nor record and/or store any of your information or data. Any data temporarily generated from usage is destroyed upon reloading or quitting the app. The Application is purely educational.&nbsp;</p> 
<h4>&nbsp;</h4> 
<h4>What information does the Application obtain and how is it used?</h4> 

<p><strong>User Provided Information</strong>&nbsp;</p> 
<p>The Application obtains only access to the funcionalities mentioned above and does not access any personal information or data within your device. It does not store or request any information from within the Camera or Calendar applications - only retrieving a photo or creating a new event to be saved in the Calendar app, or displaying a push notification at the top of the screen with a default body of text confirming the notification being received by the user.&nbsp;However, please keep in mind that you may not be able to use some of the features offered by the Application unless you accept the permissions requests for them.</p> 

<p>&nbsp;</p> 
<p>When you use the Application, you WILL NEVER BE ASKED to provide any information regarding:&nbsp;(a) your name, email address, age or other registration information; (b) transaction-related information; or (c) credit card information.</p> 

<h4>&nbsp;</h4> 
<h4>Does the Application collect precise real time location information of the device?</h4> 
<p>No</p> 

<p>This Application does not collect precise information about the location of your mobile device.&nbsp;</p> 
<p>&nbsp;</p> 

<h4>Do third parties see and/or have access to information obtained by the Application?</h4> 
<p>Nobody besides the user has access to the information or functionalities of the app. It can be considered a "local app" that does not connect to any internet communication channels, websites or services.</p> 

<p>We may disclose User Provided and Automatically Collected Information:</p> 
<ul> 
 <li> <p>as required by law, such as to comply with a subpoena, or similar legal process;</p> </li> 
 <li> <p>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a&nbsp;government request;</p> </li> 
 <li> <p>with our trusted services providers who work on our behalf, do not have an&nbsp;independent use of the information we disclose to them, and have agreed to adhere&nbsp;to the rules set forth in this privacy statement.</p> </li> 
 <li> <p>if&nbsp;Jacob Whitt&nbsp;is involved in a merger, acquisition, or sale of all or a&nbsp;portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</p> </li> 
</ul> 

<p>&nbsp;</p> 
<h4>What are my opt-out rights?</h4> 

<p>Considering no personal information is provided at any point, simply delete the Application at any moment if you do not wish to use it anymore. You can also request more help or information via email, at jacob@whitt.tech.</p> 
<p>&nbsp;</p> 
<h4><strong>Data Retention Policy, Managing Your Information</strong></h4> 
<p>We do not collect any user Data, and therefore any need to manage, retain or delete said Data.</p> 
<p>&nbsp;</p> 
<h4><strong>Children</strong></h4> 

<p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. In the incredibly unlikely case (due to the complete lack of any type of Data collection at any point in the user experience) that a parent or guardian believes that their child has provided us with information without their consent that could possibly bring harm to the child or related entities, they should contact me at&nbsp;jacob@whitt.tech. We will respond within a reasonable time.</p> 
<h4>&nbsp;</h4> 
<h4><strong>Security</strong></h4> 

<p>We are concerned about safeguarding the confidentiality of your information. We do not collect any Data at any point from the User, and therefore avoid any issues regarding confidentiality of the non-existent information.</p> 
<p>&nbsp;</p> 
<h4><strong>Changes</strong></h4> 
<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy&nbsp;here&nbsp;and&nbsp;informing you via email or text message. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by clicking here.</p> 
<p>&nbsp;</p> 
<h4><strong>Your Consent</strong></h4> 
<p>By using the Application, you are consenting to having a great time learning how React Native can work and quite possibly telling all of your friends how awesome it is and how it has changed your life in unbelievable ways. If you reside outside the United States&nbsp;all aforementioned lack of Data or information collection, as well as the potentially amazing and life-changing experiences, apply to your participation in using our Application.</p> 
<p>&nbsp;</p> 
<h4>Contact me</h4> 
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact me via email at&nbsp;jacob@whitt.tech.</p>