<template>
	<div class="main">
		<div class="header-navbar">
			<button class="btn mobileBio"><a href="#bio">Bio</a></button>

			<div class="
				socials">
				<div id='topbar'>
					<select v-model="language">
						<option>EN</option>
						<option>ES</option>
					</select>
				</div>
				<div id='topbar'>
					<p class="text">jacob@whitt.tech</p>

				</div>
				<div id='topbar'
					class="gitlab">

					<a href="https://gitlab.com/jacobwhitt">
						<img src="./assets/general-assets/gitlab.png">
					</a>

				</div>
				<br>
				<div id='topbar'
					class="linkedin">
					<a href="https://linkedin.com/in/jacobwhitt"><img src="./assets/general-assets/linkedin.png"></a>
				</div>
			</div>
		</div>

		<div class="splash animate__animated animate__fadeIn animate__slow">
			<div class="animate__animated animate__fadeIn animate__slow">
				<img :class="isMobile ? 'selfie' : 'mobile-selfie'"
					src="./assets/general-assets/selfie.jpg" />
			</div>
			<div>
				<div v-if="language === 'EN'"
					class="greeting col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
					<p class="title">I'm Jacob</p>
					<p class="subtitle">I'm a web developer who likes minimal design.</p>
				</div>

				<div v-if="language === 'ES'"
					class="greeting col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
					<p class="title">Soy Jacob</p>
					<p class="subtitle">Soy un desarrollador web que le gusta diseño minimal.</p>
				</div>
			</div>

			<!--//* BIOGRAPHY SECTION -->
			<div v-if="showBio"
				class="bio">
				<div class="container">
					<div class="row">

						<!-- //* ENGLISH -->
						<div v-if="language === 'EN'">
							<div class="biotext col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
								<p>
									I grew up in computers and taking apart electronics and toys because I <em>had to see</em> how they worked inside. I've worked with computers for <a style="color: #2ecc71"
										href="https://soundcloud.com/jwhitty">music production</a> for over 12 years, but never thought I'd love programming as much as I do. It feels natural and meditative, learning it has been both fun and challenging, and I can see myself growing as a developer with each new project I take on.
								</p>
							</div>
						</div>

						<!-- //* ESPAÑOL -->
						<div v-if="language === 'ES'">
							<div class="biotext col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
								<p>
									Crecía jugando con ordenadores, abriendolos y también todos mi jugetes porque <i>tenía una necesidad</i> de ver como funcionaron por dentro. He trabajdo con ordenadores para <a style="color: #2ecc71"
										href="https://soundcloud.com/jwhitty">producción de música</a> más que 12 años, pero nunca esperaba estar tan encantado con programación como estoy. Se siente natural y meditativo, y aprendiéndolo ha sido muy divertido y un reto: me encanta ver cuanto avanzo con cada proyecto en que trabajo.
								</p>
							</div>
						</div>

					</div>

					<div v-if="showBio"
						@scroll.passive="onScroll"
						class="icon-scroll animate__animated animate__fadeIn"
						:class="{'animate__animated animate__fadeOut': !showScroll}">
						<div class="mouse">
							<div class="wheel"></div>
						</div>
						<div class="icon-arrows">
							<span></span>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!--//* PROJECTS SECTION -->
		<div class="projects">
			<p class="section-subtitle">{{ language === 'EN' ? 'Projects' : 'Proyectos'}}

			</p>

			<div class="container animate__animated animate__fadeIn">
				<!--//? ACTUAL PROJECTS -->
				<div class="row row-mar-top">
					<div class="clearfix"></div>

					<div v-show="type === 'native' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate__faster">
						<div class="row">
							<p class="project-subtitle">The Movie Database Companion</p>

							<a href="https://gitlab.com/jacobwhitt/movie-tv-database/">
								<img class="image"
									src="./assets/general-assets/tmdb.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40jacobwhitt/movie-tv-database-738b74d31d08483f9261d1deb88f5a01-signed.apk">ANDROID APK</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/movie-tv-database/">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								TMDB Companion is an app for browsing The Movie Database's
								archive of currently popular movies and popular tv series, or to
								search for a specific movie, using their public API to search
								their database.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								TMDB Companion es un app para explorar el archivo de películas y
								series de televisión populares de The Movie Database, o para
								buscar una película específica, usando su API público para
								buscar en el database.
							</p>
						</div>
					</div>

					<div v-show="type === 'native' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate_faster">
						<div class="row">
							<p class="project-subtitle">D&D 5e Character Generator</p>

							<a href="https://gitlab.com/jacobwhitt/dnd-5e-character-generator">
								<img class="image"
									src="./assets/general-assets/chargen.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40jacobwhitt/dnd-character-generator-b620f92faacb42c391b76956749f6d79-signed.apk">ANDROID APK</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/dnd-5e-character-generator">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								D&D 5e Character Generator is another teaching tool I developed
								for teaching React Native while I taught the React Native course
								at
								<a href="https://www.imaginaformacion.com/"><strong>Imagina Formación</strong></a>.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								D&D 5e Character Generator es otro app que desarrollé para
								enseñar React Native mientras enseñé el curso de React Native en
								<a href="https://www.imaginaformacion.com/"><strong>Imagina Formación</strong></a>.
							</p>
						</div>
					</div>

					<div v-show="type === 'vue' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate_faster">
						<div class="row">
							<p class="project-subtitle">GnomeTome</p>

							<a href="https://gnome-tome.netlify.app/">
								<img class="image"
									src="./assets/general-assets/gnometome.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="https://gnome-tome.netlify.app/">{{
                    language === "EN" ? "LIVE SITE" : "WEB ACTUAL"
                  }}</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/gnometome">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								GnomeTome is a project showcasing Vue 3, Bootstrap and a REST
								API fetching a dataset of Gnomes. Users may filter it in real
								time and have the search results dynamically change based on
								their choices.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								GnomeTome es un proyecto que usa Vue 3, Bootstrap y un REST API
								para obtener un conjunto de datos de Gnomes, mostrarlo y
								permitir a los usuarios filtrarlo en tiempo real y que los
								resultados de la búsqueda cambien dinámicamente en función de
								las elecciones del usuario.
							</p>
						</div>
					</div>

					<div v-show="type === 'native' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate_faster">
						<div class="row">
							<p class="project-subtitle">Hello Expo</p>

							<a href="https://gitlab.com/jacobwhitt/hello-expo">
								<img class="image"
									src="./assets/general-assets/helloexpo.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40jacobwhitt/HelloExpo-8ab48b61e2ca4fe7a5ff1e5eace2343d-signed.apk">ANDROID APK</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/hello-expo">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								Hello Expo is a React Native teaching app I developed while
								teaching the React Native course at
								<a href="https://www.imaginaformacion.com/"><strong>Imagina Formación</strong></a>.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								Hello Expo es app diseñado para enseñar React Native que diseñé
								mientras enseñaba el curso de React Native en
								<a href="https://www.imaginaformacion.com/"><strong>Imagina Formación</strong></a>.
							</p>
						</div>
					</div>

					<div v-show="type === 'native' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate_faster">
						<div class="row">
							<p class="project-subtitle">Goabase Companion App</p>

							<a href="https://expo.io/@jwhitty/projects/goabase-mobile-companion">
								<img class="image"
									src="./assets/general-assets/goabase.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="https://expo.io/@jwhitty/projects/goabase-mobile-companion">ANDROID APK</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/goa-base-mobile-app">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								I developed a React Native companion tool for users of
								<a href="http://goabase.net"><strong>Goabase</strong></a> with
								which they can search for and save events by country/city and
								type of event.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								Desarrollé una herramiento acompañante en React Native para los
								usuarios de
								<a href="http://goabase.net"><strong>Goabase</strong></a> con la
								cual pueden buscar y guardar eventos según el país o la ciudad,
								más el tipo de evento.
							</p>
						</div>
					</div>

					<div v-show="type === 'react' || type === 'all'"
						class="project-padding col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 animate__animated animate__fadeIn animate_faster">
						<div class="row">
							<p class="project-subtitle">SubSala</p>

							<a href="http://159.89.1.248/home">
								<img class="image"
									src="./assets/general-assets/subsala.png" />
							</a>

							<div class="links">
								<button class="btn btn-success">
									<a href="http://159.89.1.248/home">{{
                    language === "EN" ? "LIVE SITE" : "WEB ACTUAL"
                  }}</a>
								</button>

								<button class="btn btn-info">
									<a href="https://gitlab.com/jacobwhitt/sub-sala-project">
										GITLAB REPO
									</a>
								</button>
							</div>

							<p class="text"
								v-if="language === 'EN'">
								SubSala is an e-commerce site inspired by Airbnb that I designed
								to find spaces to rent for one-off events. Built with React, it
								uses the AirBnB Calendar and Stripe APIs and CRUD operations
								throughout the user profiles.
							</p>

							<p class="text"
								v-if="language === 'ES'">
								SubSala es un sitio web 'e-commerce' inspirado por AirBnB que
								diseñé para encontrar sitios para eventos puntuales. Diseñado
								con React, se usa los APIs del Calendario de AirBnB y Stripe,
								más operaciones CRUD para los usuarios y sus 'espacios.'
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- //? MOBILE BIO AT BOTTOM OF PAGE -->
		<div v-show="!showBio"
			id="bio"
			class="mobile-bio">
			<div class="container">
				<div class="row">
					<!-- //* ENGLISH -->
					<div v-if="language === 'EN'">
						<div class="biotext col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
							<h1>My Story</h1>
							<p>
								I grew up in computers and taking apart electronics and toys because I <em>had to see</em> how they worked inside. I've worked with computers for <a style="color: #2ecc71"
									href="https://soundcloud.com/jwhitty">music production</a> for over 12 years, but never thought I'd love programming as much as I do. It feels natural and meditative, learning it has been both fun and challenging, and I can see myself growing as a developer with each new project I take on.
							</p>
						</div>
					</div>

					<!-- //* ESPAÑOL -->
					<div v-if="language === 'ES'">
						<div class="biotext col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <h1>Mi Historia</h1>
							<p>
								Crecía jugando con ordenadores abriendoles y todos mi jugetes porque <i>tenía una necesidad</i> de ver como funcionaron por dentro. He trabajdo con ordenadores para <a style="color: #2ecc71"
									href="https://soundcloud.com/jwhitty">producción de música</a> más que 12 años, pero nunca esperaba estar tan encantado con programación como estoy. Se siente natural y meditativo, y aprendiéndolo ha sido muy divertido y un reto: me encanta ver cuanto avanzo con cada proyecto en que trabajo.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- //? SCROLL TO TOP BUTTON -->
		<button v-if="showScrollBtn"
			class="btn scrollBtn"
			title="Go to top"
			@click="topFunction">
			^
		</button>

		<!-- //* FOOTER -->
		<div class="footer">
			<p>© Jacob T. Whitt 2021 All Rights Reserved.</p>
			<a href="https://gitlab.com/jacobwhitt/vue-portfolio">
				<p>
					{{
            language === "EN" ? "Programmed in VueJS" : "Programado en VueJS"
          }}
				</p>
			</a>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				language: "EN",
				showScroll: true,
				windowWidth: window.innerWidth,
				showScrollBtn: false,
				type: "all",
			};
		},
		computed: {
			showBio() {
				return this.windowWidth < 550 ? false : true;
			},
			isMobile() {
				return this.windowWidth < 769 ? false : true;
			},
		},
		methods: {
			onScroll() {
				const currentScrollPosition =
					window.scrollY ||
					window.pageYOffset ||
					document.documentElement.scrollTop;
				if (this.showBio) {
					if (currentScrollPosition < 400) {
						return (this.showScroll = true);
					} else {
						return (this.showScroll = false);
					}
				} else if (currentScrollPosition < 200) {
					return (this.showScroll = true);
				} else {
					return (this.showScroll = false);
				}
			},
			scrollToTop() {
				const currentScrollPosition =
					window.scrollY ||
					window.pageYOffset ||
					document.documentElement.scrollTop;

				if (currentScrollPosition > 400) {
					return (this.showScrollBtn = true);
				} else {
					return (this.showScrollBtn = false);
				}
			},
			topFunction() {
				document.body.scrollTop = 0; // For Safari
				document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
			},
			filterProjects(id) {
				if (id === 1) {
					this.type = "vue";
				} else if (id === 2) {
					this.type = "react";
				} else if (id === 3) {
					this.type = "native";
				} else if (id === 4) {
					this.type = "js";
				} else {
					this.type = "all";
				}
			},
		},
		mounted() {
			window.addEventListener("scroll", this.onScroll);
			window.addEventListener("scroll", this.scrollToTop);
			window.addEventListener("resize", () => {
				this.windowWidth = window.innerWidth;
				console.log(this.windowWidth);
			});
		},
		beforeUnmount() {
			window.removeEventListener("scroll", this.onScroll);
		},
	};
</script>

<style lang="scss">
	/* //* GLOBAL STYLES */
	#app {
		font-family: Avenir Next, Raleway, PT Sans, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #777;
		width: 100%;
		height: max-content;
	}

	* {
		box-sizing: border-box;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	h1,
	h2,
	p,
	p,
	a {
		color: #777;
		line-height: 1.5em;
	}

	a:hover {
		color: #2ecc71;
	}

	select {
		margin-right: 10px;
	}

	.main {
		position: relative;
	}

	.hidden {
		display: none;
	}

	.section-subtitle {
		font-family: Lato, sans-serif;
		font-weight: 900;
		font-size: 40px;
	}

	.project-subtitle {
		font-family: Lato, sans-serif;
		font-weight: 900;
		font-size: 36px;
	}

	.title {
		font-family: Lato, sans-serif;
		font-weight: 600;
		font-size: 72px;
	}

	.subtitle {
		font-family: Lato, sans-serif;
		font-weight: 900;
		font-size: 36px;
	}

	/* //* SPLASH PAGE SECTION */
	.header-navbar {
		height: 50px;
		width: 100%;
		// background-color: #777;
	}

	#topbar {
		margin-right: 5px;
	}

	.header-navbar .btn {
		background-color: #2ecc71;
		height: 80%;
		align-self: center;
	}

	.mobileBio {
		display: none;
		float: left;
		margin-left: 1em;
		justify-content: space-evenly;
		align-items: center;
		font-size: 20px;
	}

	.socials {
		width: 320px;
		height: 100%;
		display: flex;
		float: right;
		margin-right: 50px;
		align-items: center;
	}

	.socials p {
		padding: 0;
		margin: 0;
		background-color: transparent;
	}

	.socials img,
	.logo img {
		height: 42px;
	}

	.gitlab,
	.linkedin {
		display: flex;
		align-items: center;
	}

	.splash {
		position: relative;
		width: 100%;
		height: 100%;
		margin-bottom: 15em;
	}

	.selfie {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 200px;
		height: 200px;
		border-radius: 150px;
		border: 3px outset #2ecc71;
		object-fit: cover;
	}

	.mobile-selfie {
		width: 100px;
		height: 100px;
		margin-top: 1em;
		border-radius: 150px;
		border: 3px outset #2ecc71;
		object-fit: cover;
	}

	.bio {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.biotext {
		font-size: 24px;
	}

	.text {
		font-size: 25px;
		padding-top: 1em;
	}

	// //! DESKTOP MOUSE SCROLL ANIMATION ICONS
	.icon-scroll {
		margin: 5em auto;
		width: 1em;
		height: 3.125em;
		transform: translateX(-50%) scale(2);
		z-index: 99999;
	}

	.icon-arrows::after,
	.icon-arrows::before {
		content: "";
	}

	.icon-arrows span,
	.icon-arrows::after,
	.icon-arrows::before {
		display: block;
		width: 0.315em;
		height: 0.315em;
		border-right: 1px solid #2ecc71;
		border-bottom: 1px solid #2ecc71;
		margin: 0 0 0.125em 0.315em;
		transform: rotate(45deg);
		animation: mouse-scroll 1s infinite;
		animation-direction: alternate;
	}

	.icon-arrows::before {
		margin-top: 0.315em;
		animation-delay: 0.1s;
	}

	.icon-scroll span {
		animation-delay: 0.2s;
	}

	.icon-arrows::after {
		animation-delay: 0.3s;
	}

	.icon-scroll .mouse {
		height: 1.375em;
		width: 0.875em;
		border: 1px solid #2ecc71;
		border-radius: 2em;
	}

	.icon-scroll .wheel {
		position: relative;
		display: block;
		height: 0.1875em;
		width: 0.1875em;
		margin: 0.1875em auto 0;
		background: #2ecc71;
		animation: mouse-wheel 1.2s ease infinite;
		border-radius: 50%;
	}

	@keyframes mouse-wheel {
		0% {
			opacity: 1;
			transform: translateY(0);
		}

		100% {
			opacity: 0;
			transform: translateY(0.375em);
		}
	}

	@keyframes mouse-scroll {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}

	/* //* ///////////////////// PROJECTS SECTION ///////////// */
	.typeBtns {
		display: flex;
		width: 50%;
		margin: auto;
		padding: 1em;
		justify-content: space-around;
		align-items: center;
		border: 2px dashed #2ecc71;
		border-radius: 15px;
	}

	.frontendIcon {
		opacity: 0.4;
		width: 50px;
		height: 50px;
	}

	.frontendIcon:hover {
		opacity: 1;
		transform: scale(1.4, 1.4);
	}

	.selected {
		opacity: 1;
		transform: scale(1.4, 1.4);
	}

	.projects {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.image {
		width: 60%;
		border-radius: 20px;
	}

	.row-mar-top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 1em;
	}

	.project-padding {
		padding: 1em;
		border-bottom: 1px solid #ccc;
	}

	.links {
		display: flex;
		justify-content: space-evenly;
		margin-top: 10px;
	}

	.btn a {
		color: white;
	}

	/* //* ///////// FOOTER SECTION /////////////////////////// */
	.footer {
		background-color: #777;
		display: flex;
		justify-content: center;
	}
	.footer p {
		margin: auto;
		color: white;
	}

	// TODO ///////////////// MEDIA QUERIES /////////////////////////////////

	@media only screen and (max-width: 1300px) {
		.selfie {
			width: 150px;
			height: 150px;
		}
	}

	@media only screen and (max-width: 768px) {
		.title {
			font-size: 36px;
		}

		.subtitle {
			font-size: 30px;
		}

		.biotext {
			font-size: 20px;
		}

		.row-mar-top {
			display: flex;
			flex-direction: column;
			margin-top: 1em;
		}

		.selfie {
			width: 100px;
			height: auto;
		}

		.typeBtns {
			flex-direction: column;
		}

		.frontendIcon {
			margin-bottom: 10px;
		}
	}

	@media only screen and (max-width: 550px) {
		.header-navbar {
			display: flex;
			justify-content: space-between;
		}

		.socials {
			margin-right: 35px;
			margin-left: 10px;
		}

		.mobileBio {
			display: flex;
			flex-direction: row;
		}
	}

	@media only screen and (max-width: 425px) {
		.title {
			font-size: 36px;
		}
		.subtitle {
			font-size: 30px;
		}
		.project-subtitle {
			font-size: 30px;
		}
		.contact-subtitle {
			font-size: 30px;
		}
		.gitlab img {
			width: 25px;
			height: 25px;
		}
		.linkedin img {
			width: 25px;
			height: 25px;
		}

		.text {
			font-size: 15px;
		}

		.selfie {
			width: 80%;
			height: 80%;
		}

		.socials {
			width: 250px;
			float: right;
			justify-content: space-evenly;
		}

		.socials p {
			font-size: 12px;
		}
	}

	@media only screen and (max-width: 320px) {
		.subtitle {
			font-size: 25px;
		}
		.project-subtitle {
			font-size: 25px;
		}
		.contact-subtitle {
			font-size: 25px;
		}

		.text {
			font-size: 20px;
		}
	}

	// TODO ///////////////// ANIMATIONS /////////////////////////////////

	.scrollBtn {
		display: block;
		position: fixed;
		height: 40px;
		width: 40px;
		bottom: 25px;
		right: 10px;
		// opacity: 0.6;
		z-index: 99;
		border: none;
		outline: none;
		background-color: #2ecc71;
		color: white;
		cursor: pointer;
		border-radius: 10px;
		// font-size: 18px;
	}

	.scrollBtn:hover {
		background-color: #2e7771;
		animation: h 0.8s infinite;
	}

	:root {
		--animate-duration: 0.2s;
	}
</style>
